<h3>Sign up to be a volunteer for the community!</h3>

<% if session[:message] %>
  <%= session[:message] %><br><br>
  <% session.delete(:message) %>
<% end %>

<form action="/volunteers/signup" method="post">
  <label for="volunteer[name]">Name: </label>
  <input type="text" name="volunteer[name]"><br>
  <label for="volunteer[email]">Email: </label>
  <input type="text" name="volunteer[email]"><br>
  <label for="volunteer[phone_number]">Phone number: </label>
  <input type="text" name="volunteer[phone_number]"><br>
  <label for="volunteer[username]">Username for the site: </label>
  <input type="text" name="volunteer[username]"><br>
  <label for="volunteer[password]">Password: </label>
  <input type="text" name="volunteer[password]"><br><br>
  <input type="submit" value="Sign Up">
</form>
