<h1>New Delivery Request</h1>
<form action="/deliveries" method="post">
  <label for="items">What do you need?</label>
  <input type="text" name="items"><br>
  <label for="date">When would you like this delivered?</label>
  <input type="text" name="date"><br><br>
  <input type="submit" value="Submit">
</form>
