<!DOCTYPE html>
<html>
<head>
  <title>CoVID Community Food Bank</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
</head>
  <body>
    <% if is_logged_in?(session) %>
      <div class="logged_in_header" style="text-align:right;">
        <a href="/deliveries">Home</a>
        <% if is_member?(session) %>
          <a href="/members/<%=Member.find(session[:user_id]).username%>">Profile</a>
        <% else %>
          <a href="/volunteers/<%=Volunteer.find(session[:user_id]).username%>">Profile</a>
        <% end %>
        <a href="/members">Members</a>
        <a href="/volunteers">Volunteers</a>
        <a href="/logout">Log Out</a>
      </div>
    <% end %>

    <% if session[:message] %>
      <div class="status_message" style="text-align:center;">
        <br>
        <%= session[:message] %>
        <br><br>
        <% session.delete(:message) %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
