<!DOCTYPE html>
<html>
<head>
  <title>Covid Community</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
</head>
  <body>
    <% if session[:message] %>
      <%= session[:message] %><br><br>
      <% session.delete(:message) %>
    <% end %>

    <%= yield %>

    <% if is_logged_in?(session) %>
      <br><br>
      <a href="/deliveries">Home</a>
      <% if is_member?(session) %>
        <a href="/members/<%=Member.find(session[:user_id]).username%>">Profile</a>
      <% else %>
        <a href="/volunteers/<%=Volunteer.find(session[:user_id]).username%>">Profile</a>
      <% end %>
      <a href="/logout">Log Out</a>
    <% end %>
  </body>
</html>
