<h1>Welcome to your community.</h1>

<% if session[:message] %>
  <%= session[:message] %><br><br>
  <% session.delete(:message) %>
<% end %>

<h3>Meet your community members:</h3>

<ul>
  <% @all_members.each do |member| %>
    <li><a href="/members/<%=member.username%>"><%= member.name %></a></li>
  <% end %>
</ul>
