<h1>Log in to the community</h1>

<% if session[:message] %>
  <%= session[:message] %><br><br>
  <% session.delete(:message) %>
<% end %>
<form action="/members/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username"><br>
  <label for="password">Password: </label>
  <%# TODO: Make the password field with hidden characters %>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Log In">
</form>
