<h3>Sign up to be a member of the community!</h3>

<% if session[:message] %>
  <%= session[:message] %><br><br>
  <% session.delete(:message) %>
<% end %>

<form action="/members/signup" method="post">
  <label for="member[name]">Name: </label>
  <input type="text" name="member[name]"><br>
  <label for="member[email]">Email: </label>
  <input type="text" name="member[email]"><br>
  <label for="member[address]">Address: </label>
  <input type="text" name="member[address]"><br>
  <label for="member[phone_number]">Phone number (optional): </label>
  <input type="text" name="member[phone_number]"><br>
  <label for="member[allergies]">Allergies (optional): </label>
  <input type="text" name="member[allergies]"><br>
  <label for="member[username]">Username for the site: </label>
  <input type="text" name="member[username]"><br>
  <label for="member[password]">Password: </label>
  <input type="text" name="member[password]">
  <input type="submit" value="Sign Up">
</form>
